/* Estilos para el contenedor del formulario */
.formulario-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  max-width: 350px;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(to left, #0e2b30ee, #152241e8);
  color: #ece3bc;
  text-shadow: 2px 2px 4px #ffffff80;
  border: 1px solid #ffffff44;
  border-radius: 10px;
  box-shadow: 10px 15px 15px #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 100px;
}

/* Estilos para mensajes de error */
.errorm {
  color: #e70000;
  text-shadow: none;
  font-size: 12px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Estilos para etiquetas */
label {
  display: block;
  margin-bottom: 12px;
  margin-top: 6px;
  font-weight: bold;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ece3bc;
  border-radius: 2px;
  outline: none;
  text-decoration: none;
}

/* Estilos para campos de entrada de texto */
.foco {
  width: 200px;
  height: 30px;
  border-radius: 4%;
  border: none;
  background-color: #f7f3e1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Estilos para campos de entrada de texto con enfoque */
.foco:focus {
  outline: none;
}

/* Estilos para el formulario en dispositivos de pantalla con un ancho mínimo de 768px */
@media screen and (min-width: 768px) {
  .formulario-container {
    flex-direction: row;
    justify-content: space-between;
  }

  

  .formulario-container > div {
    margin-bottom: 0;
    width: 48%;
  }

  /* Estilos para el botón de enviar */
  button[type="submit"] {
    width: 100%;
    height: 40px;
    margin-top: 18px !important;
    background-color: #f3e3b6;
    border: 1px solid rgb(107, 75, 5);
    color: #000000;
    border-radius: 5%;
    padding: 3%;
  }
}

/* Estilos para el botón de enviar cuando se realiza un desplazamiento */
button[type="submit"]:hover {
  width: 100%;
  height: 40px;
  border: 2px solid #000000;
  background-color:#000000;
  color:#f3e3b6;
  cursor: pointer;
}

/* Estilos para el formulario en dispositivos de pantalla con un ancho máximo de 767px */
@media screen and (max-width: 767px) {
  .formulario-container > div {
    width: 100%;
  }
}



/* Estilos para los botones de color morado y azul */
.morado,
.azul {
  width: 100%;
  margin-top: 10px !important;
  background-color: #e5ebe871;
  color: #4d4c4c;
  border: 2px solid #2324244d;
  border-radius: 2px;
  padding: 5px;
  font-family: 'Arial Black', sans-serif;
}

/* Estilos para los botones de color morado y azul al pasar el cursor sobre ellos */
.morado:hover,
.azul:hover {
  width: 100%;
  margin-top: 8px !important;
  background-color: #eecda228;
  color: #000120;
  border: 1px solid #4d4d4d;
  border-radius: 2px;
  padding: 5px;
  font-family: 'Arial Black', sans-serif;
}

/* Estilos para el botón "Anterior" */
.anterior {
  background-color: #ece3bc;
  color: #0e0000;
  border: 2px solid #8d8562;
  margin-top: 13px;
  margin-right: 4px;
  padding: 6px;
  border-radius: 3px;
}

/* Estilos para el botón "Anterior" al pasar el cursor sobre él */
.anterior:hover {
  background-color: #000000;
  color: #ece3bc;
  border: 2px solid #000000;
  margin-right: 4px;
  padding: 6px;
}

/* Estilos para el contenedor del resumen de datos */
.resumen {
  background-color:#c0bfbcd5;
  width: 100%;
  height: 85vh;
  color: #0e0101;
  border-radius: 2%;
  border: 1px solid #33323270;
  margin-top: 40px;
  font-size: 16px;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
  color:#000224;
}
/* Estilos para párrafos */
p {
  color: #000000;
  
}

/* Estilos para campos de entrada numéricos */
#age, #phone {
  appearance: textfield;
}

/* Estilos para los botones de incremento y decremento en campos de entrada numéricos */
#age::-webkit-inner-spin-button,
#age::-webkit-outer-spin-button,
#phone::-webkit-inner-spin-button,
#phone::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
